div#gradient {
    width:1920px;
    height:1024px;
    background: #f7f7f7; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #f7f7f7 0%, #efefef 26%, #777777 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f7f7f7), color-stop(26%,#efefef), color-stop(100%,#777777)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #f7f7f7 0%,#efefef 26%,#777777 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #f7f7f7 0%,#efefef 26%,#777777 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #f7f7f7 0%,#efefef 26%,#777777 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #f7f7f7 0%,#efefef 26%,#777777 100%); /* W3C */

}

